@use 'colors' as *;

@media (min-width: 992px) {
	.section {
		&__title {
			margin-top: 3rem;
			margin-bottom: 4rem;

			h2 {
				font-size: 5rem;
			}

			p {
				font-size: 8rem;
			}
		}
	}

	.main {
		&__info {
			h1 {
				font-size: 5rem;
			}

			h2 {
				margin-top: -1rem;
				font-size: 4.5rem;
			}

			&-btn {
				padding: 1.8rem;
				margin: 3rem;
				margin-left: 0rem;
				font-size: 3.5rem;
			}
		}

		&__socials {
			margin-top: 2rem;
			font-size: 3.5rem;

			a {
				padding: 1.25rem 4rem;
				margin-right: 4rem;
			}
		}

		&__image {
			justify-content: center;

			img {
				width: 70%;
				margin-right: 4rem;
			}
		}
	}

	nav {
		.nav {
			font-size: 3.5rem;
		}

		a {
			margin: 1rem 1.5rem;
			padding: 3.5rem;
			border-radius: 1rem;
		}
	}

	////////////////////////////////////////////////////////////////////////////////////////////////
	/// PROJECTS
}

@media (min-width: 1400px) {
	.section {
		&__title {
			margin-top: 5rem;
			margin-bottom: 6rem;

			h2 {
				font-size: 6rem;
			}

			p {
				font-size: 10rem;
			}
		}
	}

	.main {
		&__info {
			h1 {
				font-size: 7rem;
			}

			h2 {
				margin-top: -1rem;
				font-size: 6rem;
			}

			&-btn {
				padding: 2rem;
				margin: 5rem;
				margin-left: 0rem;
				font-size: 5rem;
			}
		}

		&__socials {
			margin-top: 1rem;
			font-size: 5rem;

			a {
				padding: 1.5rem 5rem;
				margin-right: 4rem;
			}
		}

		&__image {
			img {
				width: 70%;
			}
		}
	}
}
