@use 'colors' as *;
@use 'mixins' as *;

@media (min-width: 772px) {
	header {
		justify-content: center;
		height: 100vh;
	}

	.main {
		flex-direction: row;
		margin-top: 0;

		&__info {
			margin-left: 10rem;

			h1,
			h2 {
				padding-right: 2rem;
				text-wrap: nowrap;
			}
		}

		&__image {
			justify-content: flex-start;
			align-items: center;
			// margin-top: 0rem;
			margin-right: 6rem;
			order: 1;
			margin-bottom: 0;

			img {
				width: 80%;
			}
		}
	}

	nav {
		right: 0;
		bottom: 50%;
		transform: translate(0, 50%);
		width: 0%;
		margin-right: 6rem;
		font-size: 3rem;
		background: none;

		.nav {
			flex-direction: column;
		}

		a {
			padding: 3rem 3rem;
			margin: 1rem;
			border-radius: 1rem;
			background-color: $third;
			transform: skew(-15deg);

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				width: 100%;
				height: 100%;
				border-radius: 1rem;
				background-color: $primary;
				z-index: 1;
				transition: transform 0.3s;
			}

			&:hover {
				&::before {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				z-index: 2;
			}
		}

		.nav {
			&__active {
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(0);
					width: 100%;
					height: 100%;
					border-radius: 1rem;
					background-color: $primarydarker;
					z-index: 1;
					transition: transform 0.3s;
				}

				i {
					color: $primary;
					text-shadow: 0px 0px 0px $primary;
					transition: text-shadow 0.3s;
				}

				&:hover {
					i {
						text-shadow: 0px 0px 20px $primary;
					}
				}
			}
		}
	}

	////////////////////////////////////////////////////////////////////////////////////////////////
	/// PROJECTS

	.projects {
		&__project {
			width: 70%;

			&:nth-child(even) {
				.projects__img {
					order: 1;
				}

				.projects__desc {
					align-items: flex-end;
					text-align: right;
				}
			}
		}
	}

	////////////////////////////////////////////////////////////////////////////////////////////////
	/// CONTACT

	.projects {
		width: 70%;

		&__contact {
			&-element {
				font-size: 2.5rem;
			}

			&-form {
				textarea {
					min-height: 20rem;
				}
			}
		}
	}
}
