@use 'colors' as *;

@media (min-width: 576px) {
	.main {
		&__info {
			h1 {
				font-size: 5rem;
			}

			h2 {
				font-size: 3rem;
			}

			&-btn {
				padding: 1rem;
				margin: 2.5rem;
				margin-left: 0rem;
				font-size: 2.5rem;
			}
		}

		&__socials {
			font-size: 2.5rem;

			a {
				padding: 1rem 3rem;
			}
		}

		&__image {
			margin-bottom: 6rem;
		}
	}
}
