@use 'reset' as *;
@use 'colors' as *;

body {
	background-color: $secondary;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

@keyframes circleMoving {
	0% {
		transform: translate(-5rem, 5rem);
	}

	50% {
		transform: translate(5rem, -5rem);
	}

	100% {
		transform: translate(-5rem, 5rem);
	}
}

.circle {
	position: absolute;
	box-shadow: 0px 0px 500px 80px $primary;
	animation: circleMoving 10s infinite;

	&:nth-child(1) {
		left: 3%;
		top: 5%;
	}

	&:nth-child(2) {
		right: 3%;
		bottom: 5%;
		animation-delay: 5s;
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 50%;

		h1 {
			font-size: 4rem;
			font-style: italic;
			color: $primary;
		}

		h2 {
			margin-top: -1rem;
			font-size: 2.5rem;
			color: #505050;

			&::selection {
				background-color: $primary;
			}
		}

		&-btn {
			padding: 0.8rem;
			margin: 2rem;
			margin-left: 0rem;
			border-radius: 1rem;
			transform: skew(-15deg) translate(0px, 0px);
			font-size: 2rem;
			font-weight: 600;
			color: #000;
			background-color: $primary;
			box-shadow: 3px 5px 0px #000;
			transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), box-shadow 0.3s;

			&:hover {
				transform: skew(-15deg) translate(0px, 5px);
				box-shadow: none;
			}
		}
	}

	&__socials {
		margin-top: 1rem;
		transform: skew(-15deg);
		font-size: 2rem;

		a {
			position: relative;
			padding: 0.8rem 2.5rem;
			margin-right: 2rem;
			border-radius: 1rem;
			background-color: $third;
			transition: background-color 0.3s;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				width: 100%;
				height: 100%;
				border-radius: 1rem;
				background-color: $primary;
				z-index: 1;
				transition: transform 0.3s;
			}

			&:hover {
				&::before {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				z-index: 2;
			}
		}
	}

	&__image {
		order: -1;
		margin-top: -30rem;
		width: 50%;
		margin-bottom: 2rem;

		img {
			width: 100%;
			padding: 1rem;
			border-radius: 1rem;
			border: 5px solid $primary;
			box-shadow: 0px 0px 100px rgb(15, 255, 80, 0.3);
			background-color: $primarydarker;
			user-select: none;
		}
	}
}

nav {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	font-size: 2.5rem;
	background-color: $third;

	a {
		position: relative;
		margin: 0rem 1.5rem;
		padding: 1.5rem;
		border-radius: 1rem;

		i {
			color: #fff;
			z-index: 2;
		}
	}

	.nav {
		&__active {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 0.2rem;
				width: 100%;
				background-color: $primary;
			}

			i {
				color: $primary;
				text-shadow: 0px 0px 20px $primary;
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 1%;
	opacity: 0;
}

@import 'small';
@import 'medium';
@import 'large';
