@use 'reset' as *;
@use 'colors' as *;
@use 'animations' as *;

body {
	background-color: $secondary;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	.pageTransition {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;
		background-color: $third;
		z-index: 1000;
		animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards pageTransition;
	}
}

.header {
	&__sections {
		justify-content: flex-start;
	}
}

.section {
	&__title {
		position: relative;
		padding: 2rem;
		margin-bottom: 2rem;
		font-family: 'Press Start 2P', cursive;
		text-align: center;

		h2 {
			font-size: 4rem;
			font-weight: 900;
			color: $primary;
			z-index: 5;
		}

		p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 4.5rem;
			font-weight: 900;
			color: #000;
			text-shadow: 0px 0px 2rem #000;
			z-index: -1;
		}
	}
}

.circle {
	position: fixed;
	box-shadow: 0px 0px 500px 80px $primary;
	animation: circleMoving 10s infinite;

	&:nth-child(3) {
		left: 3%;
		top: 5%;
	}

	&:nth-child(2) {
		right: 3%;
		bottom: 5%;
		animation-delay: 5s;
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 50%;

		h1 {
			font-size: 2.5rem;
			font-family: 'Press Start 2P', cursive;
			color: $primary;
		}

		h2 {
			font-size: 2.5rem;
			color: #505050;

			&::selection {
				background-color: $primary;
			}
		}

		&-btn {
			padding: 0.8rem;
			margin: 2rem;
			margin-left: 0rem;
			border-radius: 1rem;
			transform: skew(-15deg) translate(0px, 0px);
			font-size: 2rem;
			font-weight: 600;
			color: #000;
			background-color: $primary;
			box-shadow: 3px 5px 0px #000;
			transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), box-shadow 0.3s;

			&:hover {
				transform: skew(-15deg) translate(0px, 5px);
				box-shadow: none;
			}
		}
	}

	&__socials {
		margin-top: 1rem;
		transform: skew(-15deg);
		font-size: 2rem;

		a {
			position: relative;
			padding: 0.8rem 2.5rem;
			margin-right: 2rem;
			border-radius: 1rem;
			background-color: $third;
			transition: background-color 0.3s;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				width: 100%;
				height: 100%;
				border-radius: 1rem;
				background-color: $primary;
				z-index: 1;
				transition: transform 0.3s;
			}

			&:hover {
				&::before {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				z-index: 2;
			}
		}
	}

	&__image {
		order: -1;
		width: 50%;
		margin-top: 8rem;
		margin-bottom: 2rem;

		img {
			width: 100%;
			border-radius: 1rem;
			border: 1rem solid $primary;
			box-shadow: 0px 0px 100px rgb(15, 255, 80, 0.3);
			background-color: $primarydarker;
			user-select: none;
		}
	}
}

nav {
	position: fixed;
	bottom: 0;
	width: 100%;

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		bottom: 0;
		width: 100%;
		border-top-right-radius: 2rem;
		border-top-left-radius: 2rem;
		font-size: 2.5rem;
		background-color: $third;
	}

	a {
		position: relative;
		margin: 0rem 1.5rem;
		padding: 1.5rem;
		border-radius: 1rem;

		i {
			color: #fff;
			z-index: 2;
		}
	}

	.nav {
		&__active {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 0.2rem;
				width: 100%;
				background-color: $primary;
			}

			i {
				color: $primary;
				text-shadow: 0px 0px 20px $primary;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////
/// PROJECTS

.projects {
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&__project {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1000px;
		margin: 2rem 2rem;
		padding: 0.5rem;
		background-color: rgb(51, 51, 51, 0.6);

		&:nth-child(odd) {
			border-bottom-right-radius: 3rem;
			border-top-left-radius: 3rem;
		}

		&:nth-child(even) {
			border-bottom-left-radius: 3rem;
			border-top-right-radius: 3rem;
		}

		&:nth-last-child(1) {
			margin-bottom: 12rem;
		}
	}

	&__img {
		position: relative;
		display: flex;
		align-self: center;
		max-width: 80vw;
		margin: 1rem;

		a {
			color: $primary;
		}

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border-radius: 2rem;
			font-size: 4rem;
			background-color: rgb(28, 28, 28, 0.8);
			opacity: 0;
			transition: opacity 0.3s;

			&:hover {
				opacity: 1;
			}
		}

		img {
			position: relative;
			width: 100%;
			border-radius: 2rem;
		}
	}

	&__desc {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 1rem;

		h3 {
			font-size: 3rem;
			font-family: 'Press Start 2P', cursive;
			color: $primary;
			text-shadow: 0px 0px 2rem #000;
		}

		.projects__stack {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: 1rem 0;

			img {
				height: 4rem;
				margin-right: 1rem;
				margin-top: 1rem;
				filter: drop-shadow(0px 0px 1rem rgb(0 0 0 / 0.8));
				transition: scale 0.3s;

				&:hover {
					scale: 1.1;
				}
			}
		}

		p {
			margin-top: 1.5rem;
			margin-bottom: 0.5rem;
			font-size: 2rem;

			&::selection {
				background-color: $primary;
			}
		}
	}

	&__link {
		position: relative;
		font-style: italic;
		transition: 0.3s;
		color: $primary;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			// height: 100%;
			height: 0.1rem;
			width: 100%;
			background-color: $primary;
			transition: 0.3s;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			// height: 100%;
			height: 0.1rem;
			width: 100%;
			background-color: #000;
			transition: 0.3s;
		}

		&:hover {
			background-color: #000;
		}

		&:hover::after {
			height: 100%;
			background-color: $primary;
			mix-blend-mode: difference;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////
/// CONTACT

.projects {
	&__contact {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		&-social {
			text-align: left;
		}

		&-element {
			margin: 2rem;
			margin-bottom: 5rem;
			text-shadow: 0px 0px 2rem #000;
			font-size: 2rem;
			color: $primary;

			a {
				color: $primary;
			}
		}

		&-form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 2rem;
			margin-bottom: 10rem;
			width: 100%;

			form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 60%;
			}

			label {
				text-shadow: 2px 2px 0.5rem #000;
				font-size: 2rem;
				cursor: text;
			}

			input,
			textarea {
				width: 100%;
				padding: 2.5rem;
				margin: 2rem;
				border-radius: 4.5rem;
				border: none;
				text-shadow: 2px 2px 0.5rem #000;
				background-color: $third;
				color: $primary;
				font-size: 2rem;
				transition: border-radius 0.3s, outline 0.3s;
			}

			input:focus,
			textarea:focus {
				border-radius: 1rem;
				box-shadow: inset 0px 0px 0.5rem #000;
				outline: 5px solid $primary;

				& + label {
					top: 1.8rem;
					left: 3rem;
					outline: 5px solid $primary;
					background-color: $third;
				}
			}

			input:not(:placeholder-shown),
			textarea:not(:placeholder-shown) {
				& + label {
					top: 1.8rem;
					left: 3rem;
					outline: 5px solid $primary;
					background-color: $third;
				}

				& {
					border-radius: 1rem;
					box-shadow: inset 0px 0px 0.5rem #000;
					outline: 5px solid $primary;
				}
			}

			textarea {
				min-height: 10rem;
			}

			button {
				align-self: flex-end;
				padding: 0.8rem;
				border-radius: 1rem;
				transform: skew(-15deg) translate(0px, 0px);
				font-size: 2rem;
				font-weight: 600;
				color: #000;
				background-color: $primary;
				box-shadow: 3px 5px 0px #000;
				transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), box-shadow 0.3s;

				&:hover {
					transform: skew(-15deg) translate(0px, 5px);
					box-shadow: none;
				}
			}
		}

		&-input {
			position: relative;
			margin-bottom: 1rem;
			width: 100%;

			label {
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				left: 2rem;
				font-size: 2rem;
				padding: 0.5rem 1rem;
				border-radius: 4.5rem;
				color: $primary;
				transition: top 0.3s, left 0.3s, background-color 0.1s;
			}

			.projects__contact-textareaLabel {
				top: 4.7rem;
			}
		}
	}
}

@import 'small';
@import 'medium';
@import 'large';
